.dashboard {
  display: flex;
  flex-wrap: wrap;
  height: 625px;
}

.nav-bar {
  width: 5%;
  background-color: brown;
}
.container {
  width: 70%;
  background-color: lightgrey;
}
.side-bar {
  width: 25%;
  background-color: antiquewhite;
}


